{%extends 'customer/base.html'%}


{%block content%}

<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 cpl-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 cpl-sm-12 offset-md-1 p-4 text-center">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit ullam ratione labore quo sunt aperiam aut molestias voluptas quaerat ad, tenetur eligendi quae qui tempora impedit pariatur voluptates laborum voluptatibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit ullam ratione labore quo sunt aperiam aut molestias voluptas quaerat ad, tenetur eligendi quae qui tempora impedit pariatur voluptates laborum voluptatibus.</p>
        </div>
    </div>
</div>

{%endblock content%}
