{%extends 'customer/base.html'%}


{%block content%}

<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 cpl-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 cpl-sm-12 offset-md-1 p-4 text-center">
            <p>Welcome to Foodease, your one-stop solution for all your food delivery needs!</p>
            <p>Our mission is to make your dining experience hassle-free and enjoyable. We understand that life can be busy, and sometimes you just don't have the time to cook. That's where we come in! With Foodease, you can order delicious meals from your favorite restaurants and have them delivered straight to your door.</p>
            <p>We have a wide selection of restaurants to choose from, ranging from local favorites to popular chains. Whether you're in the mood for Italian, Chinese, Mexican, or something else, we've got you covered. Our platform makes it easy to browse menus, place orders, and track deliveries in real-time.</p>
        </div>
    </div>
</div>

{%endblock content%}
