{% extends 'customer/base.html' %}


{%block content%}

<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 cpl-sm-12 offset-md-1 p-4 text-center">
            <h1>Online Food Delivery</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 cpl-sm-12 offset-md-1 p-4 text-center">
            <h2>Place Order</h1>
                <button type="button" class="btn btn-primary"> Order now </button>
        </div>
    </div>
</div>

{%endblock content%}
