{% extends 'customer/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="justify-content-center">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        {% for item in items%}
                        <div class="col">
                            <div class="card h-100">
                                <img src="{{ item.image.url }}" class="card-img-top" style="max-height: 300px; width: auto; margin: 0 auto;" alt="Menu Item Image"/>                                <div class="card-body">
                                    <h5 class="card-title">{{ item.name }}</h5>
                                    <p class="card-text">{{ item.description }}</p>
                                    <p class="card-text">{{ item.price }}</p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="items[]" value="{{ item.pk }}" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Add to Cart
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group pt-3">
                    <label for="name">Full Name</label>
                    <input required class="form-control" type="text" placeholder="Your name" name="name"/>
                </div>
                <div class="form-group pt-3">
                    <label for="email">Email Address</label>
                    <input required class="form-control" type="text" placeholder="example@company.com" name="email"/>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group pt-3">
                            <label for="street">Street</label>
                            <input required class="form-control" type="text" placeholder="Street" name="street"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group pt-3">
                            <label for="city">City</label>
                            <input required class="form-control" type="text" placeholder="City" name="city"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group pt-3">
                            <label for="province">Province</label>
                            <input required class="form-control" type="text" placeholder="Province" name="province"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group pt-3">
                            <label for="zip_code">ZIP Code</label>
                            <input required class="form-control" type="text" placeholder="ZIP" name="zip_code"/>
                        </div>
                    </div>
                </div>
                <br>
                <button type="button" class="btn btn-dark col-md-12 col-sm-12 p-4" data-mdb-toggle="modal" data-mdb-target="#submitModal">
                    Add to Cart
                </button>
                <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="submitModalLabel">Confirm Order</h5>

                          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">Are you sure you have added everything you wanted?</div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-dark">Add Order</button>
                        </div>
                      </div>
                    </div>
                  </div>

            </form>
        </div>
    </div>
  
</div>
{% endblock content %}
